.containerMenu{
  padding: 20px;
  width: 100%;
  height: 80px;
  background-color: rgb(0, 0, 0, .85);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 100; 
  
}

.logo{
  /* width: 30%; */
}

.logo img{
  height: 38px;
  cursor: pointer;
}

.iconBar{
  display: flex;
  align-items: center;
  justify-content: center;
} 

.iconBar svg, .iconBar svg path{
  font-size: 28px;
  cursor: pointer;
}

.containerMenuSide{
  width: 50%;
  max-width: 230px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .85);
  transition: all .25s;
  z-index: 1000;
}

.topMenuSide{
  padding: 30px;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.topMenuSide:hover{
  background-color: var(--btn-secondary-hover);
}

.topMenuSide:active{
  background-color: var(--btn-secondary-active);
}

.topMenuSide svg, .topMenuSide path{
  font-size: 22px;
  cursor: pointer;
}


.listaMenuSide div{
  padding: 12px;
  width: 100%;
  height: auto;
  font-size: small;
  font-weight: 200;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.listaMenuSide div:hover{
  background-color: var(--btn-secondary-hover);
}

.listaMenuSide div:active{
  background-color: var(--btn-secondary-active);
}

.menu{
  display: none;
}

@media screen and (min-width: 780px){

  .logo img{
    height: 45px;
  }

  .iconBar{
    display: none;
  }

  .menu{
    width: 55%;
    max-width: 600px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    display: flex;
  }
  
  .menu a{
    padding: 20px 15px;
    font-size: 12px;
    color: azure;
    cursor: pointer;
  }
  
  .menu a:hover{
    border-bottom: 1px solid;
    color: var(--text-title1);
  }

}

