.banner{
  width: 100%;
  position: relative;
}

.banner div{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, .8);
  position: absolute;
  top: 0;
  left: 0;
}

.banner h1{
  font-size: 28px;
  font-weight: 200;
  font-family: 'Bebas' !important;
  color: var(--text-title1);
}

.sectionEv{
  padding: 30px 0;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--background1);
}

.containerEv{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


@media screen and (min-width: 800px) {


  
}