.sideImage:nth-child(even){
  margin: 30px 0;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sideImage:nth-child(odd){
  margin: 30px 0;
  width: 100%;
  height: auto;
  color: red !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.imgContainerBlog{
  padding: .8rem;
  width: 350px;
  background-color: black;
}

.imgBoxBlog{
  overflow: hidden;
}

.containerArticulo{
  margin-top: 10px;
  width: 350px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.containerArticulo h2{
  margin: 0;
  font-family: 'Bebas' !important;
  font-size: 15px;
  font-weight: 200;
}

.containerArticulo p{
  color: azure;
  top: 0;
  font-size: 12px;
  text-align: justify;
}

.boxActions{
  margin-top: 20px;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.iconCheck, .iconClose{
  padding: 6px 12px;
  margin-bottom: 10px;
  border-radius: 15%;
  cursor: pointer;
}

.iconCheck{
  margin-right: 5px;
  background-color: green;
}

.iconCheck:hover{
  background-color: rgb(0, 141, 0);
}

.iconCheck:active{
  background-color: rgb(0, 158, 0);
}

.iconClose{
  background-color: red;
}

.iconClose:hover{
  background-color: rgb(255, 17, 17);
}

.iconClose:active{
  background-color: rgb(255, 32, 32);
}

.iconCheck svg, .iconCheck path, .iconClose svg, .iconClose path{
  cursor: pointer;
} 

@media screen and (min-width: 800px) and (max-width: 1600px) {
  
  .sideImage:nth-child(even){
    margin: 80px 0;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    flex-flow: row-reverse;
    align-items: center;
    justify-content: center;
  }

  .sideImage:nth-child(odd){
    margin: 50px 0;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    flex-flow: row;
    align-items: center;
    justify-content: center;
  }

  .imgContainerBanner h1{
    font-size: 50px;
  }
  
  .imgContainerBlog{
    padding: .65rem;
    margin: 0 1%;
    width: 450px;
  }

  .containerArticulo{
    margin: 0 1%;
    width: 40%;
  }
  
  .containerArticulo h2{
    font-size: 28px;
    font-weight: 200;
  
  }
  
  .containerArticulo p{
    top: 0;
    font-size: 14px;
    text-align: justify;
  }

}
