:root{
  --background1: rgba(18, 18, 18);
  --background2: rgba(25, 25, 25);
  --background3: rgba(35, 35, 35);
  --background4: rgba(50, 50, 50);
  --btn-primary: #00a0be;
  --btn-primary-hover: #00b3c7;
  --btn-primary-active: #00c7da;
  --btn-secondary: #ad00ec;
  --btn-secondary-hover: rgb(189, 28, 248);
  --btn-secondary-active: rgba(195, 51, 248);
  --text-title1: rgb(0, 202, 222);
  --text-title2: rgba(195, 51, 248);
  --text-title2-hover: rgb(189, 20, 250);

}