:root{
  --background1: rgba(18, 18, 18);
  --background2: rgba(25, 25, 25);
  --background3: rgba(35, 35, 35);
  --background4: rgba(50, 50, 50);
  --btn-primary: rgb(0, 160, 190);
  --btn-primary-hover: rgb(0, 179, 199);
  --btn-primary-active: rgb(0, 199, 218);
  --btn-secondary: rgb(173, 0, 236);
  --btn-secondary-hover: rgb(189, 28, 248);
  --btn-secondary-active: rgba(195, 51, 248);
  --text-title1: rgb(0, 202, 222);
  --text-title2: rgba(195, 51, 248);
  --text-title2-hover: rgb(189, 20, 250);

}