.content, .actions{
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  flex-direction: row-reverse;
  background-color: var(--background3) !important;
}

.ui.button, .ui.button.primary{
  color: azure !important;
  font-weight: 200 !important;
  background-color: red !important;
}

.ui.button:hover{
  background-color: rgb(255, 22, 22) !important;
}

.ui.button:active, .ui.button:focus{
  background-color: rgb(255, 43, 43) !important;
}

.ui.button.secondary{
  display: flex;
  align-items: center;
  background-color: darkgreen !important;
}

.ui.button.secondary svg, .ui.button.secondary path{
  cursor: pointer;
}

.ui.button.secondary:hover{
  color: azure !important;
  background-color: rgb(0, 117, 0) !important;
}

.ui.button.secondary:active, .ui.button.secondary:focus{
  color: azure !important;
  background-color: rgb(0, 139, 0) !important;
}

.ui.button.negative{
  display: flex;
  align-items: center;
}

.ui.button.negative svg, .ui.button.negative path{
  cursor: pointer;
}

.ui.button.primary{
  background-color: darkcyan !important;
}

.ui.button.primary:hover{
  color: azure !important;
  background-color: rgb(0, 148, 148) !important;
}

.ui.button.primary:active, .ui.button.primary:focus{
  color: azure !important;
  background-color: rgb(0, 158, 158) !important;
}