@import './colors.css';
@import './form.css';
@import './confirm.css';
@import './blog.css';

@font-face {
  font-family: 'Mulish';
  src: url('../../public/fonts/Mulish/static/Mulish-Light.ttf');
}

@font-face {
  font-family: 'Bebas';
  src: url('../../public/fonts/Bebas/BebasNeue-Regular.ttf');
}

*{
  padding: 0;
  margin: 0;
  font-family: 'Mulish' !important;
  color: azure;
  cursor: default;
}

body{
  background-color: black!important;
}

li.slick-active{
  opacity: .3;
}

a{
  cursor: pointer;
}
h1, h2, h3, h4{
  margin: 0;
}