.imgContainerBanner{
  margin: 0;
  width: 100%;
}

.imgContainerBanner img{
  width: 100%;
}

.titleVoz{
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
}

.titleVoz h1{
  margin: 0;
  font-size: 20px;
  text-align: center;
  color: azure;
}

.titleVoz1{
  font-size: 18px;
  text-align: center;
  color: var(--text-title1);
}

.titleVoz2{
  font-size: 18px;
  text-align: center;
  color: var(--text-title2);
}

.containerVoiceTech{
  padding: 30px 0;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: center;
  background-color: var(--background1);
}

.boxYmas{
  margin: 50px 0;
}

.boxYmas h1{
  font-size: 20px;
  color: var(--text-title2);
}

.containerMainBlog{
  padding: 80px 10px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: var(--background2);
}

.containerMainBlog h1{
  font-size: 20px;
}

.containerMainBlog h2{
  margin: 0;
  font-size: 22px;
  color: var(--text-title1);
}

.containerMainBlog h1:nth-child(3){
  margin-top: 50px;
}

.containerMainBlog span{
  color: var(--text-title2);
  transition: all .1s;
  cursor: pointer;
}

.containerMainBlog span:hover{
  color: var(--text-title2-hover);
}


@media screen and (min-width: 800px) and (max-width: 1600px) {

  .titleVoz{
    padding: 120px 0;
    height: auto;
  }

  .titleVoz h1{
    font-size: 30px;
  }

  .titleVoz1{
    font-size: 38px;
  }

  .titleVoz2{
    font-size: 38px;
  }

  .tecnicasVozBox{
    margin-top: 0px;
    width: 100%;
    height: 200px;
    flex-direction: initial;
  }

  .tecnicasVozBox:nth-child(1){
    margin-top: 20px;
  }

  .tecnicasVozBox:nth-child(2n){
    flex-direction: row-reverse;
  }

  .tecnicasVozBox div{
    margin-top: 0px;
    width: auto;
    
  }

  .boxTitle1{
    justify-content: flex-end;
  }

  .boxTitle2{
    justify-content: flex-start;
  }

  .tecnicasVozBox div:nth-child(2){
    margin-left: 50px;
    margin-right: 50px;
    width: 3px;
    height: 50px;
  }

  .tecnicasVozBox:hover div:nth-child(2){
    width: 3px;
    height: 150px;
    background-color: var(--text-title1); 
  }

  .box1, .box2{
    width: auto !important;
  }

  .box1 p, .box2 p{
    font-weight: 200;
  }

  .tecnicasVozBox h1{
    font-size: 40px;
  }

  .boxYmas{
    margin: 0 0 100px 0;
  }

  .boxYmas h1{
    font-size: 40px;
    color: var(--text-title2);
  }

  .containerMainBlog{
    padding: 80px 0 80px 0;
  }

  .containerMainBlog h1{
    font-size: 30px;
  }

  .containerMainBlog h1:nth-child(3){
    margin: 80px;
  }

  .containerMainBlog h2{
    font-size: 35px;
    color: var(--text-title1);
  }

  .containerMainBlog span{
    color: var(--text-title2);
    cursor: pointer;
  }

}