
.iconClose{
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

.iconClose svg, .iconClose path{
  font-size: 18px;
  cursor: pointer;
}

.prevImage{
  width: 100%;
  height: 150px;
  object-fit: contain;
}